In [1]:
import opendatasets as od

In [2]:
link=r'https://www.kaggle.com/datasets/ankitbansal06/retail-orders/orders.csv'
od.download(link)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username:

  shahrizwan52

Your Kaggle Key:

  ········

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
Downloading retail-orders.zip to .\retail-orders

100%|████████████████████████████████████████████████████████████████████████████████| 200k/200k [00:00<00:00, 205kB/s]

In [1]:
import os
os.listdir(r'.\retail-orders')

['orders.csv', 'retail_orders.pbix']

In [2]:
import pandas as pd
df=pd.read_csv(r'C:\Users\Rizwan\Downloads\Shah Rizwan\Python data analyst project\Retail_orders_ETL(Python+SQL)_project\retail-orders\orders.csv',encoding='unicode_escape')

In [3]:
df

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3

In [4]:
df.columns

Index(['Order Id', 'Order Date', 'Ship Mode', 'Segment', 'Country', 'City',
       'State', 'Postal Code', 'Region', 'Category', 'Sub Category',
       'Product Id', 'cost price', 'List Price', 'Quantity',
       'Discount Percent'],
      dtype='object')

In [5]:
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', 'Not Available', 'unknown',
       'First Class', nan, 'Same Day'], dtype=object)

In [6]:

df=pd.read_csv(r'C:\Users\Rizwan\Downloads\Shah Rizwan\Python data analyst project\Retail_orders_ETL(Python+SQL)_project\retail-orders\orders.csv',encoding='unicode_escape',na_values=['Not Available', 'unknown'])

In [8]:
df.columns=df.columns.str.lower().str.replace(' ','_')
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent'],
      dtype='object')

In [10]:
mode=df['ship_mode'].mode()[0]
df['ship_mode']=df['ship_mode'].fillna(mode)

In [11]:
df.count()

order_id            9994
order_date          9994
ship_mode           9994
segment             9994
country             9994
city                9994
state               9994
postal_code         9994
region              9994
category            9994
sub_category        9994
product_id          9994
cost_price          9994
list_price          9994
quantity            9994
discount_percent    9994
dtype: int64

In [13]:
df['ship_mode'].unique()

array(['Second Class', 'Standard Class', 'First Class', 'Same Day'],
      dtype=object)

In [16]:
#df['discount']=df['list_price']*df['discount_percent']*0.01
#df['sale_price']=df['list_price']-df['discount']
#df['profit']=df['cost_price']-df['sale_price']
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,-14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,-108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,-160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,1.0

In [17]:
df.dtypes

order_id              int64
order_date           object
ship_mode            object
segment              object
country              object
city                 object
state                object
postal_code           int64
region               object
category             object
sub_category         object
product_id           object
cost_price            int64
list_price            int64
quantity              int64
discount_percent      int64
discount            float64
sale_price          float64
profit              float64
dtype: object

In [20]:
df['order_date']=pd.to_datetime(df['order_date'],format="%Y-%m-%d")
#df['order_date']=pd.to_datetime(df['order_date'])

#df.dtypes
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,-14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,-108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,-160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,1.0

In [18]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.9-cp312-cp312-win_amd64.whl.metadata (4.6 kB)
Downloading psycopg2_binary-2.9.9-cp312-cp312-win_amd64.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   -- ------------------------------------- 0.1/1.2 MB 825.8 kB/s eta 0:00:02
   ------- -------------------------------- 0.2/1.2 MB 1.8 MB/s eta 0:00:01
   --------------- ------------------------ 0.4/1.2 MB 2.8 MB/s eta 0:00:01
   -------------------- ------------------- 0.6/1.2 MB 3.3 MB/s eta 0:00:01
   --------------------- ------------------ 0.6/1.2 MB 2.5 MB/s eta 0:00:01
   --------------------------- ------------ 0.8/1.2 MB 2.8 MB/s eta 0:00:01
   --------------------------- ------------ 0.8/1.2 MB 2.8 MB/s eta 0:00:01
   ------------------------------------ --- 1.1/1.2 MB 2.8 MB/s eta 0:00:01
   ---------------------------------------  1.2/1.2 MB 2.8 MB/s eta 0:00:01
   ---------------------------------------- 1.2/1.2 MB 2.5 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.9

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [21]:
from sqlalchemy import create_engine
conn=create_engine(r'mysql+mysqlconnector://root:RizSQL819@localhost/retail_orders')
df.to_sql('df_orders', con=conn, index=False, if_exists='append')

9994

In [19]:
from sqlalchemy import create_engine

# PostgreSQL connection string
conn = create_engine('postgresql+psycopg2://postgres:Rizpostsql@localhost:5432/retail_orders')

# Insert data into the PostgreSQL database
df.to_sql('df_orders', con=conn, index=False, if_exists='append')

994